<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Avaliar Trabalhos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid no-padding>
    <p-dataView #dv [value]="eventos" [paginator]="true" [rows]="20" paginatorPosition="both" filterBy="descricao">
      <p-header>
        <div class="ui-helper-clearfix">
          <div class="ui-g">
            <div class="ui-sm-6 ui-md-6 ui-lg-6 ui-fluid filter-container">
              <input type="search" pInputText placeholder="Busque pelo nome" (input)="dv.filter($event.target.value)">
            </div>
          </div>
        </div>
      </p-header>
      <ng-template let-evento pTemplate="listItem">
        <div class="ui-g-12">
          <div class="car-details">
            <div class="ui-g">
              <div class="ui-g-12">Nome: <b>{{evento.descricao}}</b></div>
              <div class="ui-g-12">Data de ínicio: <b>{{evento.dataIni}}</b></div>
              <div class="ui-g-12">Data de encerramento: <b>{{evento.dataFim}}</b></div>
            </div>
            <button pButton type="button" icon="far fa-clipboard" pTooltip="Ver Trabalhos" tooltipPosition="top"
              (click)="acessarTrabalhos($event)"></button>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </ion-grid>
</ion-content>